MDCTEC_PROD_REGISTRY=complianceBaseContainerRegistry.azurecr.io
CB_VERSION_NAME=demo_2021.0.1
CB_CONTAINER_NAME=cb-app
CB_IMAGE_REF=complianceBaseContainerRegistry.azurecr.io/cb-app/stand-alone/windows:demo_2021.0.1
